---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { GridList, HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';
import Achievement from '@/web/components/achievement.astro';
import { Basics } from '@/web/components/basics';
import Education from '@/web/components/education.astro';
import Job from '@/web/components/job.astro';
import Layout from '@/web/components/layout.astro';
import { Metadata } from '@/web/components/metadata';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/web/components/section';
import { Sidebar, SidebarItem } from '@/web/components/sidebar';
import { Skill } from '@/web/components/skills';
import { initializeWebContext } from '@/web/utils/initialize-web-context';

await initializeWebContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  theme: 'custom',
  pdf: {
    path: '/generated/pdf/index.pdf',
    label: 'Download resume',
    filename: 'ian-montgomery-resume.pdf',
  },
});
---

<Layout class="gap-16 [&_section]:scroll-mt-8">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
    <Metadata entry={getEntry('metadata', 'main')} />
  </Fragment>
  <Sidebar>
    <SidebarItem sectionId="basics" icon="fa6-solid:user">About me</SidebarItem>
    <SidebarItem sectionId="skills" icon="fa6-solid:bars-progress">Skills</SidebarItem>
    <SidebarItem sectionId="jobs" icon="fa6-solid:suitcase">Work experience</SidebarItem>
    <SidebarItem sectionId="achievements" icon="fa6-solid:trophy">Achievements</SidebarItem>
    <SidebarItem sectionId="education" icon="fa6-solid:graduation-cap">Education</SidebarItem>
  </Sidebar>
  <Basics entry={getEntry('basics', 'main')} id="basics" />
  <Section class="gap-8" id="skills">
    <SectionTitle>Skills</SectionTitle>
    <VerticalList class="gap-8">
      <Subsection class="gap-2">
        <SubsectionTitle>Technologies</SubsectionTitle>
        <GridList class="gap-8" minColWidth="200px">
          <Skill entry={getEntry('skills', 'typescript')} />
          <Skill entry={getEntry('skills', 'javascript')} />
          <Skill entry={getEntry('skills', 'go')} />
          <Skill entry={getEntry('skills', 'kotlin')} />
          <Skill entry={getEntry('skills', 'terraform')} />
          <Skill entry={getEntry('skills', 'docker')} />
          <Skill entry={getEntry('skills', 'kubernetes')} />
          <Skill entry={getEntry('skills', 'html')} />
          <Skill entry={getEntry('skills', 'css')} />
          <Skill entry={getEntry('skills', 'php')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Cloud & DevOps</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'aws')} />
          <Skill entry={getEntry('skills', 'azure')} />
          <Skill entry={getEntry('skills', 'github-actions')} />
          <Skill entry={getEntry('skills', 'gitlab')} />
          <Skill entry={getEntry('skills', 'octopus-deploy')} />
          <Skill entry={getEntry('skills', 'datadog')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8" id="jobs">
    <SectionTitle>Work</SectionTitle>
    <VerticalList class="gap-10">
      <Job entry={getEntry('jobs', 'xero')} />
      <Separator />
      <Job entry={getEntry('jobs', 'endgame')} />
      <Separator />
      <Job entry={getEntry('jobs', 'epi')} />
      <Separator />
      <Job entry={getEntry('jobs', 'commonsense')} />
      <Separator />
      <Job entry={getEntry('jobs', 'racine')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="achievements">
    <SectionTitle>Achievements</SectionTitle>
    <VerticalList class="gap-8">
      <Achievement entry={getEntry('achievements', 'azure-certified-fundamentals')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="education">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-10">
      <Education entry={getEntry('education', 'umd')} />
      <Separator />
      <Education entry={getEntry('education', 'dev-academy')} />
    </VerticalList>
  </Section>
</Layout>
