---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import Achievement from '@/pdf/components/achievement.astro';
import Basics from '@/pdf/components/basics.astro';
import Education from '@/pdf/components/education.astro';
import Footer from '@/pdf/components/footer.astro';
import Job from '@/pdf/components/job.astro';
import Layout from '@/pdf/components/layout.astro';
import { Section, SectionTitle } from '@/pdf/components/section';
import { initializePdfContext } from '@/pdf/utils/initialize-pdf-context';
import AccentColors from '@/styles/colors/accent/cyan.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';

await initializePdfContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  website: '/',
});
---

<Layout class="gap-4">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
  </Fragment>
  <Basics entry={getEntry('basics', 'main-pdf')} />
  <Section class="gap-3">
    <SectionTitle>Work</SectionTitle>
    <VerticalList class="gap-3">
      <Job entry={getEntry('jobs', 'xero-pdf')} />
      <Separator />
      <Job entry={getEntry('jobs', 'endgame-pdf')} />
      <Separator />
      <Job entry={getEntry('jobs', 'epi-pdf')} />
      <Separator />
      <Job entry={getEntry('jobs', 'commonsense-pdf')} />
      <Separator />
      <Job entry={getEntry('jobs', 'racine-pdf')} />
    </VerticalList>
  </Section>
  <Section class="gap-3">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-3">
      <Education entry={getEntry('education', 'umd')} />
      <Separator />
      <Education entry={getEntry('education', 'dev-academy')} />
    </VerticalList>
  </Section>
  <Section class="gap-3">
    <SectionTitle>Achievements</SectionTitle>
    <VerticalList class="gap-2">
      <Achievement entry={getEntry('achievements', 'azure-certified-fundamentals')} />
    </VerticalList>
  </Section>
  <Footer>
    I hereby give consent for my personal data included in my application to be processed for the purposes of the
    recruitment process.
  </Footer>
</Layout>
